@inject CompetitionResults.Data.Repository.CompetitionerRepository competitionerRepository;
@page "/addCompetitioners"
@using EnumsAndConstants

<div class="row">
    <div class="col">
        <input class=" form-control" placeholder="Name" @bind="newNumber" />
                
        <select class=" form-control" name="Class" @bind="newClass">
            @foreach (var boatClass in Enum.GetValues(typeof(BoatClasses)))
            {
                <option value="@boatClass">
                    @boatClass;
                </option>
            }
        </select>
       
        <div class=" col">
            <button class=" btn btn-success" @onclick="AddCompetitioner">Add Competitioner</button>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of spostsmans</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Number </th>
                        <th scope="col">BoatClass </th>
                        <th scope="col">Status </th>
                    </tr>
                </thead>
                @foreach (var item in competitioner)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.BoatClass
                            </td>   
                            <td>
                                @item.StatusInTrack
                            </td>
                            <td>
                                <button class=" btn-dark">Edite</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteCompetitioner(item.Id))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
    
}
