@inject CompetitionResults.Data.Repository.JudgeRepository judgeRepository;
@page "/addJudges"
@using EnumsAndConstants

<div class="row">
    <div class="col">
        <div>
            Name
        </div>
        <input class=" form-control" placeholder="Name" @bind="judgeModel.Name" />
        <div>
            SecondName
        </div>
        <input class=" form-control" placeholder="Second Name" @bind="judgeModel.SecondName" />
        <div>
            Country
        </div>
        <select class=" form-control" name="Country" @bind="judgeModel.Country">
            @foreach (var country in CountryForSelect)
            {
                <option value="@country">
                    @country;
                </option>
            }
        </select>
       
        <div class=" col">
            <button class=" btn btn-success" @onclick="SaveJudge">Save</button>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of spostsmans</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Name </th>
                        <th scope="col">Second name </th>                        
                        <th scope="col">Country </th>
                    </tr>
                </thead>
                @foreach (var item in judges)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.SecondName
                            </td>
                            <td>
                                @item.Country
                            </td>
                            <td>
                                <button class=" btn-dark"  @onclick="(()=>EditJudge(item))">Edite</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteJudgeAsync(item))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
   
}
