@page "/addJudges"
@using EnumsAndConstants

<div class="row">
        <div class="col">

            <EditForm Model="judgeModel" OnValidSubmit="SaveJudge">
                <div class="form-group">
                    <label> Number </label>
                    <InputText class=" form-control" @bind-Value="judgeModel.Name" />

                    <label> SecondName </label>
                    <InputText class=" form-control" @bind-Value="judgeModel.SecondName" />

                    <label> Country </label>
                    <InputSelect class=" form-control" name="Country" @bind-Value="judgeModel.Country">
                        @foreach (var country in CountryForSelect)
                        {
                            <option value="@country">
                                @country;
                            </option>
                        }
                    </InputSelect>
                </div>
                <button class=" btn btn-outline-primary">Save</button>
            </EditForm>

        </div>
    </div>


<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of spostsmans</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Name </th>
                        <th scope="col">Second name </th>
                        <th scope="col">Country </th>
                    </tr>
                </thead>
                @foreach (var item in judges)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.SecondName
                            </td>
                            <td>
                                @item.Country
                            </td>
                            <td>
                                <button class=" btn-dark" @onclick="(()=>EditJudge(item))">Edite</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteJudgeAsync(item))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {

}
