
@page "/addSectors"
@using EnumsAndConstants

<div class="row">
    <div class="col">
        <input class=" form-control" placeholder="Name" @bind="newSectorNumber" />
        
        <select class=" form-control" name="Track" @bind="newTrack">

            @foreach (var track in TracksForSelect)
            {
                <option value="@track.Id">
                    @track.Id
                </option>
            }
        </select>

        <div class=" col">
            <button class=" btn btn-success" @onclick="AddSector">Add Sector</button>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of spostsmans</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">SectorNumber </th>
                    </tr>
                </thead>
                @foreach (var item in sector)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Number
                            </td>

                            <td>
                                <button class=" btn-dark">Edite</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteSector(item.Id))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
}
