@inject CompetitionResults.Data.Repository.GateWithTimeRepository gateWithTimeRepository;
@inject CompetitionResults.Data.Repository.TrackRepository trackRepository;
@inject CompetitionResults.Data.Repository.CompetitionRepository competitionRepository;  
@page "/addTracks"
@using EnumsAndConstants

<div class="row">
    <div class="col">

        <select class=" form-control" name="Type" @bind="newType">
            @foreach (var track in Enum.GetValues(typeof(TrackType)))
            {
                <option value="@track">
                    @track;
                </option>
            }
        </select>

        <input class=" form-control" placeholder="Conpetition Name" @bind="newNameOfCompetition" />

        @*<select class=" form-control" name="Name Of Competition" @bind="newNameOfCompetition">
            @foreach (var name in competition)
            {
                <option value="@name">
                    @track;
                </option>
            }
        </select>*@



        <div class=" col">
            <button class=" btn btn-success" @onclick="AddTrack">Add Track</button>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of Tracks</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Track Type </th>
                        <th scope="col">Nane Of Competition </th>
                    </tr>
                </thead>
                @foreach (var item in track)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.TrackType
                            </td>
                            <td>
                                @item.NameOfCompetition
                            </td>
                            <td>
                                <button class=" btn-dark">Edite</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteTrack(item.Id))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {

    private IEnumerable<Track> track = new List<Track>();
    private IEnumerable<GateWithTime> gate = new List<GateWithTime>();


    protected override void OnInitialized()
    {
        track = trackRepository.GetAll();
    }

    private TrackType newType;
    private Competition newNameOfCompetition;


    private void AddTrack()
    {
        var dbTrack = new Track();

        dbTrack.TrackType = newType;

        dbTrack.IsActive = true;

        dbTrack.NameOfCompetition = newNameOfCompetition;

        trackRepository.Save(dbTrack);

        var dbGateWithTimeStart = new GateWithTime();

        dbGateWithTimeStart.Type = GateType.StartingGate;

        dbGateWithTimeStart.GateName = GateNameWithTime.Start;

        dbGateWithTimeStart.IsActive = true;

        gateWithTimeRepository.Save(dbGateWithTimeStart);

        var dbGateWithTimeFinish = new GateWithTime();

        dbGateWithTimeFinish.Type = GateType.FinisGate;

        dbGateWithTimeFinish.GateName = GateNameWithTime.Finish;

        dbGateWithTimeFinish.IsActive = true;

        gateWithTimeRepository.Save(dbGateWithTimeFinish);

    }



    private void DeleteTrack(long id)
    {
        trackRepository.Remove(id);
    }

}
