@page "/finishTimeFilling"
@page "/finishTimeFilling/{TrackId}"


<h3>FinishTimeFilling</h3>

<StatusChange IdCompetitionFromPage="CompetitionId"></StatusChange>
<AddPassageTime IdTrackFromPage="TrackId" IdCompetitionFromPage="CompetitionId" GateTypeOnPage="1"></AddPassageTime>

@code {

}
