@page "/sectorsFilling"
@page "/sectorsFilling/{SectorId}"

<h3>SectorsFilling</h3>

<StatusChange IdCompetitionFromPage="CompetitionId"></StatusChange>
<AddPassageOnSector IdSectorFromPage="SectorId" IdCompetitionFromPage="CompetitionId"></AddPassageOnSector>

@code {

}
