@page "/startTimeFilling"
@page "/startTimeFilling/{TrackId}"

<h3>StartTimeFilling</h3>

<StatusChange IdCompetitionFromPage="CompetitionId"></StatusChange>
<AddPassageTime IdTrackFromPage="TrackId" IdCompetitionFromPage="CompetitionId" GateTypeOnPage="1"></AddPassageTime>
@code {

}
