@page "/timeGateFilling"
@page "/timeGateFilling/{GateId}"

<h3>TimeGateFilling</h3>

<StatusChange ></StatusChange>
<AddPassageTime IdFromPage="GateId" GateTypeOnPage="3"></AddPassageTime>

@code {

}
