<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">CompetitionResults</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addSportsmans">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Sportsman
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addCompetitions">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Competition
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addTracks">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Track
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addJudges">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Judje
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addGates">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Gate
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addCompetitioners">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Competitioner
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addSectors">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Sector
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addGateWithTimePassages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Gate Wich Time Passage
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="addGateWithPenaltyPassages">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Add Gate Wich Penalty Passage
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
